# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
env/
.venv/

# Django secret key file
.env

# Media files
media/

# Static files (if not versioning static)

# IDE or editor folders
.idea/
.vscode/
