aioice==0.9.0
aiortc==1.10.1
asgiref==3.8.1
asyncio==3.4.3
av==13.1.0
babel==2.16.0
cffi==1.17.1
cryptography==44.0.2
Django==5.1.7
django-crispy-forms==2.3
dnspython==2.7.0
et_xmlfile==2.0.0
google-crc32c==1.6.0
ifaddr==0.2.0
netifaces==0.11.0
numpy==2.2.3
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
psutil==6.1.1
pycparser==2.22
pyee==12.1.1
pylibsrtp==0.11.0
pyobject==1.2.7
pyOpenSSL==25.0.0
pythonping==1.1.4
sqlparse==0.5.3
tkcalendar==1.6.1
typing_extensions==4.12.2
tzdata==2025.1
websockets==15.0.1
